.Projects {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
}

.About {
  text-align: start;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
}

.Contacts {
  text-align: end;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
}

.Banner {
  display: flex; /* Use flexbox for horizontal alignment */
  justify-content: space-between; /* Space items evenly across */
  align-items: flex-start; /* Align items at the start */
  background-color: #ffffff; /* Background color */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Shadow effect */
  position: sticky; /* Sticky position to stick to the top */
  top: 0; /* Stick to the top */
  z-index: 100; /* Ensure it is above other content */
}

.Banner nav {
  padding: 10px 20px; /* Padding around each navigation item */

  text-transform: uppercase; /* Convert text to uppercase */
  text-align: center; /* Center align text */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .Banner nav {
    font-size: 1rem; /* Decrease font size for smaller screens */
    padding: 8px 16px; /* Adjust padding */
  }
}

@media (max-width: 480px) {
  .Banner {
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: center; /* Center align items */
  }

  .Banner nav {
    font-size: 0.8rem; /* Further decrease font size for mobile screens */
    padding: 6px 12px; /* Further adjust padding */
    width: 100%; /* Full width for each item */
    text-align: center; /* Center align text */
  }
}
