h1 {
  font-size: 2rem; /* Larger font size for h1 */
  font-family: "Arial", sans-serif; /* Example font family for h1 */
  text-align: center; /* Center align h1 */
  margin-bottom: 10px; /* Add some space below h1 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.name {
  font-size: 3rem; /* Larger font size for the name */
  font-weight: bold; /* Bold font for emphasis */
  font-family: "Montserrat", sans-serif; /* Example font family for the name */
  text-align: center; /* Center align the name */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

h2 {
  font-size: 1.5rem; /* Smaller font size for h2 */
  font-family: "Roboto", sans-serif; /* Example font family for h2 */
  text-align: center; /* Center align h2 */
  margin-top: 10px; /* Add some space above h2 */
  margin-bottom: 10px; /* Add some space below h2 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

h3 {
  font-size: 4rem; /* Very large font size for h3 */
  font-family: "Comic Sans MS", cursive; /* Example font family for h3 */
  text-align: center; /* Center align h3 */
  margin-top: 20px; /* Add more space above h3 */
  margin-bottom: 20px; /* Add more space below h3 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Media query for tablets and smaller screens */
@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }

  .name {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 3rem;
  }
}

/* Media query for mobile phones */
@media (max-width: 480px) {
  h1 {
    font-size: 1.2rem;
  }

  .name {
    font-size: 2rem;
  }

  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 2.5rem;
  }
}

.img {
  max-width: 100%; /* Ensures the image does not exceed its container's width */
  height: auto; /* Allows the image to scale proportionally */
  display: block; /* Ensures the image behaves as a block element */
  margin: 20px auto; /* Centers the image horizontally with some margin */
  max-height: 400px; /* Sets a maximum height for the image */
  border-radius: 8px; /* Adds a slight border radius for a softer look */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
  transition: transform 0.3s ease-in-out; /* Adds a smooth transition effect */
}

.img:hover {
  transform: scale(
    1.05
  ); /* Slightly scales up the image on hover for an interactive effect */
}
